#app {
    font-family: Verdana,Arial,Ari,'Liberation Sans',FreeSans,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @media (min-width: 1200px){
  
  }
  @media screen and (max-width: 768px) { 
  
  }
  @media screen and (min-width: 769px) { 
  
  }